.nav{
    background-color: wheat;
}

.container{
    background-color: #4aaaa5;
    margin-top: 40px;
    height: fit-content;
    color: white;
    padding: 20px;

}

/* #footer{
    height: fit-content;
    background-color: wheat;
    width: 100%;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
} */

html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
#footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:fit-content;
    background-color: wheat;
    text-align: center;
    padding: 20px; 

}

#img{
    height: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

p{
    margin-left: 20px;
    margin-top: 20px;
}

h1{
    border-bottom: solid;
    border-color: white;
    margin-left: 20px
}
/* contact */

#contact{
    margin-left: 20px;
}

/* portfolio */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 20px 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 90%;
    border: 0 none;
    opacity: 0.8;
    margin-left: 40px;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 91%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: black;
    text-align: center;
    background: blanchedalmond;
    border-bottom: 0;
    left: 40px;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;

  }